{% comment %}
    Renders a favourite button
    Accepts:
    - product: {Object} Product Liquid object
    Usage:
    {% render "add-favourite-button"
      product: product
    %}
{% endcomment %}

<div class="favourite" id="{{product.id}}">
  <button product='{{product | json}}' class="favourite__button" onclick="saveFavoriteProducts(this)">

  </button>
</div>

<script src="{{ 'favoriteproduct.js' | asset_url }}" defer="defer"></script>
