<div class="favourite-page">
  <div class="favourite-page__title">
    <h1>
      Tus artículos favoritos
    </h1>
  </div>
  <div class="favourite-page__items">
    <!-- <div class="favourite-page__item">
      <img src="https://picsum.photos/200" alt="Image">
      <p class="favourite-page__item__title" >Camisa roja</p>
      <span class="favourite-page__price">13.000</span>
      <button id="product.id" class="favourite-page__item__buy">
        Añadir al carrito
      </button>
      <button class="favourite-page__item__remove">
        Eliminar de favoritos
      </button>
    </div> -->
  </div>
</div>
